@charset "UTF-8";
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNovaT;
  font-display: swap;
  src: url("../fonts/ProximaNovaT-Thin.woff2") format("woff2"), url("../fonts/ProximaNovaT-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  color: black;
}

/*--------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: white;
  font-family: ProximaNova;
  font-weight: 300;
  overflow-x: hidden;
}

body._close {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1296px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.title {
  font-weight: 300;
  font-size: 50px;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 33px;
  }
}

.menu__icon {
  display: none;
  width: 20px;
  height: 15px;
  position: relative;
  cursor: pointer;
  z-index: 12;
}
@media (max-width: 1090px) {
  .menu__icon {
    display: block;
  }
}

.menu__icon::before {
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  transition: all 0.3s ease;
}

.menu__icon::after {
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  transition: all 0.3s ease;
}

.menu__icon span {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 0;
  background: white;
  transform: translate(0, -50%);
}

.menu__icon._active span {
  transform: scale(0) translate(0, 0);
}

.menu__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.menu__icon._active + .menu__list {
  left: 0;
  padding-left: 20px;
}

.header {
  margin-bottom: 227px;
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 86px;
  }
}
.header__body {
  display: flex;
  height: 88px;
  align-items: center;
}
@media (max-width: 1090px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__phone {
  font-weight: 300;
  font-size: 19px;
  color: white;
  margin-left: auto;
}
@media (max-width: 1090px) {
  .header__phone--desktop {
    display: none;
  }
}
.header__phone--mobile {
  display: none;
}
@media (max-width: 1090px) {
  .header__phone--mobile {
    display: block;
  }
}

.logo {
  margin-right: 52px;
  width: 24px;
  height: 24px;
}

.menu__list {
  display: flex;
}
@media (max-width: 1090px) {
  .menu__list {
    position: absolute;
    top: 85px;
    left: -200%;
    height: 100%;
    flex-direction: column;
    padding-top: 37px;
    background-color: black;
    width: 100%;
    z-index: 50;
  }
}
.menu__list-item + .menu__list-item {
  margin-left: 30px;
}
@media (max-width: 1090px) {
  .menu__list-item + .menu__list-item {
    margin-left: 0;
    margin-top: 25px;
  }
}
.menu__list-link {
  color: white;
  font-weight: 300;
  font-size: 19px;
}
@media (max-width: 1090px) {
  .menu__list-link {
    font-size: 20px;
  }
}

.banner__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .banner__body {
    flex-direction: column;
  }
}
.banner__title {
  font-size: 128px;
  line-height: 156px;
  padding-left: 67px;
  margin-bottom: 9px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .banner__title {
    font-size: 50px;
    line-height: 55px;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .banner__title {
    text-align: center;
    margin-bottom: 19px;
  }
}
.banner__text {
  font-size: 22px;
  line-height: 150%;
  padding-left: 67px;
  max-width: 520px;
  font-weight: 100;
}
@media (max-width: 991px) {
  .banner__text {
    font-size: 18px;
    line-height: 27px;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .banner__text {
    text-align: center;
  }
}
.banner__video {
  width: 581px;
  height: 582px;
}
@media (max-width: 1090px) {
  .banner__video {
    width: 347px;
    height: 348px;
  }
}

@media (max-width: 768px) {
  .social {
    display: none;
  }
}
.social__item + .social__item {
  margin-top: 36px;
}
.social__link img {
  width: 23px;
  height: 14px;
}

.neira {
  margin-bottom: 100px;
}
.neira__title {
  margin-bottom: 50px;
}
.neira__text {
  max-width: 610px;
  text-align: center;
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 22px;
  line-height: 135%;
}
@media (max-width: 768px) {
  .neira__text {
    font-size: 17px;
    line-height: 27px;
  }
}
.neira__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-video {
  border-radius: 10px;
  width: 1035px;
  height: 592px;
}
@media (max-width: 1090px) {
  .main-video {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}

.working {
  margin-bottom: 100px;
}
.working__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.working__title {
  margin-bottom: 50px;
}
.working__column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.working__img {
  width: 56px;
  height: 56px;
  margin-bottom: 18px;
}
@media (max-width: 768px) {
  .working__img {
    width: 40px;
    height: 40px;
    margin-bottom: 11px;
  }
}
.working__txt {
  max-width: 385px;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 135%;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .working__txt {
    font-size: 17px;
    line-height: 27px;
  }
}
.working__text {
  margin-top: 50px;
  font-weight: 300;
  font-size: 20px;
  line-height: 135%;
  padding: 40px 43px 29px 48px;
  background: rgba(193, 211, 255, 0.07);
  border-radius: 15px;
  max-width: 819px;
}
@media (max-width: 768px) {
  .working__text {
    padding: 20px;
    font-size: 17px;
    line-height: 24px;
  }
}

.player {
  position: relative;
  width: 1035px;
  height: 592px;
}
@media (max-width: 1090px) {
  .player {
    width: 100%;
    height: auto;
  }
}

.play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 10px;
}

.play._active {
  z-index: 0;
}

.sound {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 5;
}

.sound._active + .no-sound {
  display: inline-block;
}

.pause {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
}

.no-sound {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 5;
  display: none;
}

.about__block {
  position: relative;
  min-height: 495px;
  margin-bottom: 100px;
}
@media (max-width: 1300px) {
  .about__block {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 120px;
  }
}
.about__img {
  position: absolute;
  border-radius: 10px;
}
.about__text {
  font-size: 22px;
  line-height: 135%;
  text-align: center;
  max-width: 559px;
}
@media (max-width: 768px) {
  .about__text {
    font-size: 17px;
    line-height: 27px;
  }
}
.about__title {
  margin-bottom: 50px;
}

.about-1 {
  width: 432px;
  height: 279px;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .about-1 {
    width: 179px;
    height: 115px;
  }
}

.about-2 {
  width: 142px;
  height: 215px;
  top: 0;
  margin-left: 563px;
}
@media (max-width: 1300px) {
  .about-2 {
    width: 107px;
    height: 161px;
    left: 0;
    top: 310px;
    margin-left: 0;
    z-index: 1;
  }
}

.about-3 {
  width: 416px;
  height: 274px;
  top: 0;
  right: 0;
  z-index: 6;
}
@media (max-width: 1300px) {
  .about-3 {
    width: 190px;
    height: 125px;
    top: 422px;
    left: 57px;
    z-index: 0;
  }
}

.about-4 {
  width: 215px;
  height: 325px;
  top: 171px;
  z-index: 5;
  left: 144px;
}
@media (max-width: 1300px) {
  .about-4 {
    width: 87px;
    height: 130px;
    top: 148px;
    left: 0;
  }
}

.about-5 {
  width: 368px;
  height: 246px;
  top: 249px;
  left: 484px;
}
@media (max-width: 1300px) {
  .about-5 {
    width: 185px;
    height: 123px;
    top: 97px;
    left: auto;
    right: 0;
    z-index: 1;
  }
}

.about-6 {
  width: 297px;
  height: 192px;
  left: 951px;
  top: 304px;
}
@media (max-width: 1300px) {
  .about-6 {
    width: 195px;
    height: 130px;
    top: 260px;
    left: auto;
    right: 0;
  }
}

.text {
  display: flex;
  justify-content: center;
  margin-bottom: 112px;
}
@media (max-width: 768px) {
  .text {
    margin-bottom: 70px;
  }
}

.about__center {
  margin-bottom: 100px;
}
.about__center-text-1 {
  max-width: 530px;
  text-align: right;
  font-size: 22px;
  line-height: 135%;
}
@media (max-width: 1300px) {
  .about__center-text-1 {
    text-align: center;
    font-size: 17px;
    line-height: 27px;
  }
}
.about__center-text-2 {
  max-width: 530px;
  text-align: left;
  font-size: 22px;
  line-height: 135%;
}
@media (max-width: 1300px) {
  .about__center-text-2 {
    text-align: center;
    font-size: 17px;
    line-height: 27px;
  }
}

.text-2 {
  display: flex;
  justify-content: end;
}
@media (max-width: 1300px) {
  .text-2 {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.text-3 {
  display: flex;
  justify-content: start;
  margin-left: 144px;
}
@media (max-width: 1300px) {
  .text-3 {
    justify-content: center;
    margin-left: 0;
  }
}

.about__team {
  margin-bottom: 130px;
}
@media (max-width: 991px) {
  .about__team {
    margin-bottom: 100px;
  }
}
.about__team-column {
  display: flex;
  align-items: center;
}
.about__team-column + .about__team-column {
  margin-top: 49px;
}
.about__team-img {
  margin-right: 25px;
  width: 120px;
  height: 120px;
}
.about__team-name {
  margin-bottom: 4px;
  font-size: 30px;
  line-height: 110%;
}
@media (max-width: 882px) {
  .about__team-name {
    font-size: 20px;
    line-height: 22px;
  }
}
.about__team-skill {
  color: #A0A0AA;
  font-size: 22px;
  line-height: 135%;
}
@media (max-width: 882px) {
  .about__team-skill {
    font-size: 18px;
    line-height: 24px;
  }
}

.column-1 {
  justify-content: end;
  margin-right: 148px;
}
@media (max-width: 882px) {
  .column-1 {
    justify-content: center;
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  .column-1 {
    justify-content: start;
  }
}

.column-2 {
  margin-left: 144px;
}
@media (max-width: 882px) {
  .column-2 {
    margin-left: 0;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .column-2 {
    justify-content: start;
  }
}

.column-3 {
  justify-content: end;
  margin-right: 28px;
}
@media (max-width: 882px) {
  .column-3 {
    justify-content: center;
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  .column-3 {
    justify-content: start;
  }
}

.about__score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 148px;
  margin-left: 144px;
  margin-right: 144px;
}
@media (max-width: 991px) {
  .about__score {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .about__score-column + .about__score-column {
    margin-top: 70px;
  }
}
.about__score-title {
  font-size: 40px;
  line-height: 135%;
}
@media (max-width: 991px) {
  .about__score-title {
    text-align: center;
    font-size: 30px;
    line-height: 33px;
  }
}
.about__score-text {
  font-size: 22px;
  line-height: 135%;
}
@media (max-width: 991px) {
  .about__score-text {
    font-size: 18px;
    line-height: 24px;
  }
}

.technologies {
  margin-bottom: 100px;
}
.technologies__body {
  position: relative;
  margin-left: 144px;
  margin-right: 144px;
}
@media (max-width: 768px) {
  .technologies__body {
    margin-left: 0;
    margin-right: 0;
  }
}
.technologies__video {
  position: absolute;
  z-index: -1;
  top: 50px;
  transform: translate(-75%, 0);
}
.technologies__title {
  margin-bottom: 50px;
}
.technologies__column + .technologies__column {
  margin-top: 50px;
}
.technologies__sub-title {
  font-weight: 300;
  font-size: 40px;
  line-height: 150%;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .technologies__sub-title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
  }
}
@media (max-width: 768px) {
  .technologies__sub-title {
    text-align: center;
  }
}
.technologies__text {
  font-weight: 100;
  font-size: 22px;
  line-height: 135%;
  max-width: 800px;
}
@media (max-width: 991px) {
  .technologies__text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .technologies__text {
    text-align: center;
  }
}

.evolution {
  margin-bottom: 100px;
}
.evolution__title {
  margin-bottom: 50px;
}
.evolution__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.evolution__column + .evolution__column {
  margin-top: 50px;
}
.evolution__image {
  width: 56px;
  height: 56px;
  margin-bottom: 18px;
}
.evolution__text {
  font-weight: 100;
  font-size: 22px;
  line-height: 135%;
}
@media (max-width: 768px) {
  .evolution__text {
    font-size: 18px;
    line-height: 27px;
  }
}

.years {
  margin-bottom: 100px;
}
.years__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.years__title {
  margin-bottom: 50px;
  max-width: 703px;
}
.years__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.years__column + .years__column {
  margin-top: 50px;
}
.years__sub-title {
  font-weight: 300;
  font-size: 40px;
  line-height: 150%;
}
.years__text {
  font-weight: 100;
  font-size: 22px;
  line-height: 135%;
}
.years__sub-text {
  font-weight: 200;
  font-size: 22px;
  line-height: 135%;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .years__sub-text {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }
}

.grey {
  color: #A0A0AA;
}

.sertification {
  margin-bottom: 95px;
}
.sertification__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sertification__title {
  margin-bottom: 50px;
}
.sertification__text {
  max-width: 368px;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 63px;
}
@media (max-width: 768px) {
  .sertification__text {
    text-align: center;
    font-size: 16px;
    line-height: 21px;
  }
}
.sertification__img {
  max-width: 395px;
  height: auto;
}
@media (max-width: 550px) {
  .sertification__img {
    width: 182px;
  }
}

.footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/effect.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  padding-top: 72px;
  background: rgba(193, 211, 255, 0.07);
  padding-bottom: 42px;
  position: relative;
}
@media (max-width: 1110px) {
  .footer {
    padding-top: 17px;
    padding-bottom: 20px;
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media (max-width: 1110px) {
  .footer__top {
    display: none;
  }
}
.footer__top-item {
  max-width: 500px;
  font-size: 12px;
  line-height: 18px;
  color: #A0A0AA;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  .footer__bottom {
    flex-direction: column;
  }
}
.footer__bottom-list {
  display: flex;
}
@media (max-width: 1110px) {
  .footer__bottom-list {
    flex-direction: column;
  }
}
.footer__bottom-item + .footer__bottom-item {
  margin-left: 56px;
}
@media (max-width: 1110px) {
  .footer__bottom-item + .footer__bottom-item {
    margin-left: 0;
    margin-top: 5px;
  }
}
.footer__bottom-link {
  color: #A0A0AA;
  font-size: 14px;
}

.copy {
  color: #A0A0AA;
  font-size: 14px;
}
@media (max-width: 1110px) {
  .copy {
    margin-top: 15px;
  }
}